// this is the header style of all pages
@use '../globals' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}

//default header design
header {
    @include flexBox();

    background-color: $header-color;
    height: 75px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9;

    //Tags design
    .app-name {
        width: 50%;
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $white-color;
            @include leftMargin();

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
            }

            h1 {
                font-size: 1.7rem;
            }
        }
    }

    nav {
        width: 50%;
        text-align: right;
        
        a {
            @include rightMargin();

            text-decoration: none;
            color: $white-color;
            font-size: $nav-size;
            font-weight: 400;
            font-size: .8rem;
            transition: 0.5s;

            &:hover {
                border-bottom: 3px solid $white-color;
                padding-bottom: 5px;
            }

            span {
                position: absolute;
                width: 15px;
                height: 15px;
                margin-left: -15px;
                background-color: #ee0000;
                border-radius: 50%;
                text-align: center;
                font-family: $times;
            }
        }
    }
}

//divider
.divider {
    @include flexBox();

    height: 2vh;
    width: 100%;
    background-color: $divider-color;

    p {
        @include leftMargin();

        font-size: $divider-size;
        color: $header-color;
    }

}