@use '../../style/header/header';
@use '../../style/globals' as *;

header {
    nav {
        display: none;
    }
}

main {
    width: 100%;
    height: 85vh;
    @include flexBox();
    justify-content: center;

    .container {
        width: 1120px;
        height: 85vh;
        @include flexBox();
        justify-content: center;

        .product-cont {
            width: 740px;
            height: 85vh;

            .search-back {
                margin-top: 10px;
                width: 710px;
                height: 40px;
                background-color: $header-color;
                @include flexBox();
                justify-content: baseline;
                color: $white-color;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            
                a {
                    margin: 5px 20px 0 20px;
                
                }
            }

            .product {
                overflow-y: scroll;
                @include scroll();
                height: 75vh;
                width: 710px;
                margin-top: 12px;
                

                .display-div {
                    width: 690px;
                    display: flex;
                    flex-wrap: wrap;


                    .prod-display {
                        width: 165px;
                        height: 250px;
                        margin-left: 6px;
                        margin-top: 10px;
                        text-align: center;
                        @include flexBox();
                        justify-content: center;
                        flex-direction: column;
                        cursor: pointer;
                        color: $header-color;
                        background-color: $divider-color;
                        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        }
                        
                        .prod-img {
                            width: 150px;
                            height: 150px;
                            background-color: $white-color;
                            @include flexBox();
                            justify-content: center;
                        }

                        .pname {
                            width: 140px;
                            padding: 5px;
                            overflow: hidden;

                            h4 {
                                white-space: nowrap;
                            }
                        }

                        p {
                            margin-top: 10px;
                            white-space: nowrap;
                            font-size: .8rem;
                        }
                    }
                }
            }
        }
    }
}

@include extra-small {
    //header
    header {
        height: 50px;

        .app-name {
            a {
                margin-left: 20px;
                
                img {
                    width: 20px;
                    height: 20px;
                }

                h1 {
                    font-size: .9rem;
                }
            }
        }

    }

    .divider {
         p {
            margin-left: 20px;
            font-size: .4rem;
         }
    }
}