/*WOOD FURNITURE DESIGN CUSTOMIZATION AND ORDERING SYSTEM*/
/*imported styles*/
@use "variables/colors" as c;
@use "variables/font" as f;
@use "components/mixins" as m;
@use "components/breakpoints" as b;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: f.$font-family;
}

//default header design
header {
    @include m.flexBox();

    background-color: c.$header-color;
    height: 8vh;
    width: 100%;
    position: sticky;
    top: 0;

    //Tags design
    .app-name {
        width: 50%;
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: c.$white-color;
            @include m.leftMargin();

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }

    nav {
        width: 50%;
        text-align: right;
        
        a {
            @include m.rightMargin();

            text-decoration: none;
            color: c.$white-color;
            font-size: f.$nav-size;
            font-weight: 600;

            &:hover {
                border-bottom: 3px solid c.$white-color;
                padding-bottom: 5px;
            }
        }
    }
}

//divider
.divider {
    @include m.flexBox();

    height: 2vh;
    width: 100%;
    background-color: c.$divider-color;

    p {
        @include m.leftMargin();

        font-size: f.$divider-size;
        color: c.$header-color;
    }

}

//landing page
#landing-page {
    @include m.flexBox();
    height: 90vh;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #cc5577;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c45 C 57.6%2c84.4 172.8%2c247.8 288%2c242 C 403.2%2c236.2 460.8%2c31.8 576%2c16 C 691.2%2c0.2 748.8%2c150.6 864%2c163 C 979.2%2c175.4 1036.8%2c76.8 1152%2c78 C 1267.2%2c79.2 1382.4%2c150.8 1440%2c169L1440 560L0 560z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c365 C 96%2c383 288%2c456.8 480%2c455 C 672%2c453.2 768%2c352.4 960%2c356 C 1152%2c359.6 1344%2c449.6 1440%2c473L1440 560L0 560z' fill='rgba(219%2c 176%2c 123%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    background-size: cover;

    .landing-text {
        width: 700px;
        height: 500px;
        @include m.flexBox();
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;

        h1 {
            font-size: f.$large;
            color: c.$header-color;
        }

        p {
            font-size: f.$nav-size;
            line-height: 2.5;
            word-break: keep-all;
        }

        button {
            padding: 15px 20px 15px 20px;
            border-radius: 20px;
            border: none;
            background-color: c.$header-color;
            font-size: f.$nav-size;
            color: c.$white-color;
            cursor: pointer;

            &:hover {
                opacity: 75%;
            }
        }
    }

    .image-slide {
        img {
            width: 31.25rem;
            height: 31.25rem;
            border-radius: 0 100px 0 100px;
        }
    }
}

//Product Section
#product-list {
    @include m.screen-size();
    @include m.flexBox();
    flex-direction: column;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1066%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M655 524L-375 523' stroke-width='6' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M706 84L-239 83' stroke-width='8' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M64 99L-801 98' stroke-width='6' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1044 18L1415 17' stroke-width='6' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1310 136L437 135' stroke-width='8' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1032 400L1811 399' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1327 518L1694 517' stroke-width='8' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1139 351L1981 350' stroke-width='6' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1191 455L126 454' stroke-width='10' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M586 37L103 36' stroke-width='6' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1393 331L661 330' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M931 476L134 475' stroke-width='8' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M989 270L304 269' stroke-width='6' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M719 356L1325 355' stroke-width='6' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1066'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1067'%3e%3cstop stop-color='rgba(219%2c 176%2c 123%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(219%2c 176%2c 123%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1068'%3e%3cstop stop-color='rgba(219%2c 176%2c 123%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(219%2c 176%2c 123%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    background-size: cover;

    .product-cont {
        @include m.flexBox();
        height: 80vh;
        width: 90%;
        justify-content: center;
        flex-direction: column;

        h1 {
            color: c.$header-color;
            font-size: f.$large;
        }

        .prod-cont-parent {
            width: 100%;
            height: 70vh;
            @include m.flexBox();
            justify-content: space-evenly;


            .prod-child {
                width: 90%;
                height: 90%;
                @include m.flexBox();
                justify-content: space-evenly;

                .prod-content {
                    @include m.flexBox();
                    justify-content: center;
                    height: 88%;
                    width: 29.5%;
                    background-color: c.$divider-color;
                    border-radius: 25px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                    
                    .prod-img {
                        width: 90%;
                        height: 55%;
                        background-color: c.$white-color;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}







//Media Queries/Responsive design
@include b.extra-small {
    //header
    header {
        height: 6vh;

        .app-name {
            a {
                margin-left: 20px;
                h1 {
                    display: none;
                }
            }
        }
    }

    //landing page
    #landing-page {
        height: 92vh;
    }
}

@include b.sm-only {
    
}

@include b.md-only {
    
}

@include b.lg-only {
    
}

@include b.xl-only {

}

