@use '../../style/header/header';
@use '../../style/globals' as *;

main {
    width: 100%;
    height: 90vh;
    @include flexBox();
    justify-content: center;

    .container {
        width: 1120px;
        height: 90vh;
        @include flexBox();

        .post-cont {
            width: 740px;
            height: 90vh;

            .prod-back {
                margin-top: 10px;
                width: 710px;
                height: 40px;
                background-color: $header-color;
                @include flexBox();
                justify-content: baseline;
                color: $white-color;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            
                a {
                    margin: 5px 20px 0 20px;
                
                }
            }

            .category {

                button {
                    font-family: $font-family;
                    border: 2px solid $header-color;
                    background-color: $white-color;
                    width: 100px;
                    border-radius: 5px;
                    margin-top: 10px;
                    cursor: pointer;
                    color: $header-color;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

                    &:hover {
                        color: $white-color;
                        background-color: $header-color;
                    }
                }

                .active {
                    color: $white-color;
                    background-color: $header-color;
                }
            }

            .form-cont {
                @include flexBox();
                justify-content: center;
                flex-direction: column;
                margin-top: 10px;
                width: 710px;
                height: 150px;
                background-color: $divider-color;
                color: $header-color;
                border-radius: 10px 0 10px 0;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            
                textarea {
                    font-family: $font-family;
                    border-radius: 10px;
                    resize: none;
                    padding: 10px;
                    border: 1px solid $header-color;
                    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

                    &:focus {
                        &:focus {
                            outline: none;
                            border: 1px solid $mt-color;
                        }
                    }
                }

                .attach-submit {
                    text-align: right;

                    a {
                        cursor: pointer;
                        border-radius: 5px;
                        font-size: .9rem;
                        color: $white-color;
                        width: 100px;
                        padding: 4px 30px;
                        background-color: #ee3535;
                        border: none;
                        font-family: $font-family;
                        transition: 0.3s;

                        &:hover {
                            opacity: 80%;
                        }
                    }

                    input[type=submit] {
                        cursor: pointer;
                        border-radius: 5px;
                        color: $white-color;
                        width: 100px;
                        padding: 4px 0;
                        background-color: $header-color;
                        border: none;
                        transition: 0.3s;
                        font-family: $font-family;

                        &:hover {
                            opacity: 80%;
                        }
                    }

                    .customize {
                        margin-right: 410px;
                        text-decoration: none;
                        padding: 3px 10px;
                        background-color: $header-color;
                        color: $white-color;
                        border-radius: 5px;
                        transition: 0.3s;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                        &:hover {
                            opacity: 80%;
                        }
                    }
                }
            }

            .user-post-cont {
                overflow-y: scroll;
                height: 63vh;
                width: 710px;
                margin-top: 12px;

                .user-post {
                    width: 690px;
                    margin-top: 10px;
                    background-color: $divider-color;
                    border-radius: 10px;

                    .pp-name-date {
                        @include flexBox();
                        justify-content: space-between;
                        color: $header-color;

                        .pp-name {
                            margin: 10px 0 15px 20px;
                            @include flexBox();

                            .profile-pic {
                                border-radius: 50%;
                                border: 2px solid $header-color;
                            }

                            h2 {
                                margin-left: 10px;
                            }

                            a {
                                color: $header-color;
                                font-size: .8rem;
                                margin-left: 20px;
                                text-decoration: underline;
                                cursor: pointer;
                                @include flexBox();

                                &:hover {
                                    opacity: 80%;
                                }
                            }
                        }

                        p {
                            font-size: .6rem;
                            margin: 10px 20px 15px 0;
                        }
                    }

                    .caption-attachment {
                        margin: 0 40px 15px 40px;
                        font-size: .9rem;
                    }

                    .shop-response {
                        background-color: $loginbg-color;
                        margin: 0 40px 15px 40px;
                        font-size: .9rem;
                        

                        h3 {
                            color: $header-color;
                        }

                        p {
                            margin-left: 20px;
                        }
                    }

                    .comment-send {
                        form {
                            @include flexBox();
                            justify-content: center;
                        }

                        textarea {
                            margin-bottom: 10px;
                            font-family: $font-family;
                            margin-top: 10px;
                            resize: none;
                            border-radius: 5px;
                            padding: 5px;

                            &:focus {
                                outline: none;
                            }
                        }

                        button {
                            cursor: pointer;
                            margin: 10px 0 10px 10px;
                            border: none;
                            background-color: $divider-color;
    
                            &:hover {
                                opacity: 80%;
                            }
                        }
                    }
                }

            }
        }

        .shopinfo-cont {
            width: 380px;
            height: 90vh;

            .search-bar {
                input[type=text] {
                    width: 76%;
                    padding: 5px 8px;
                    margin: 10px 0;
                    display: inline-block;
                    border: 1px solid $header-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                    
                    &:focus {
                        outline: none;
                        border: 1px solid $mt-color;
                    }
                }

                button {
                    width: 22%;
                    padding: 4px 0;
                    border-radius: 5px;
                    border: 1px solid $header-color;
                    color: $white-color;
                    background-color: $header-color;
                    cursor: pointer;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

                    &:hover {
                        opacity: 70%;
                    }
                }
            }

            .shopinfo {
                width: 380px;
                height: 78vh;
                color: $header-color;
                background-color: $divider-color;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

                .profile-pic {
                    @include flexBox();
                    justify-content: center;
                    border-bottom: 2px solid $white-color;
                    background-color: $header-color;

                    img {
                        margin: 10px 0;
                        border: 5px solid $header-color;
                        border-radius: 50%;
                        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                    }

                    .edit-btn {
                        position: absolute;
                        margin-top: 90px;
                        background-color: $loginbg-color;
                        padding: 1px 20px;
                        color: $header-color;
                        font-family: $font-family;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: 0.3s;
                        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

                        &:hover {
                            opacity: 80%;
                            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                        }
                    }
                }
                
                h1 {
                    text-align: center;
                    padding-top: 10px;
                    font-weight: 700;
                    color: $white-color;
                    background-color: $header-color;
                }

                h3 {
                    margin: 10px 0 0 10px;
                    font-weight: 600;
                }

                p {
                    margin-left: 30px;
                    font-size: .8rem;

                    .edit-btn {
                        background-color: $header-color;
                        padding: 1px 20px;
                        color: $white-color;
                        font-family: $font-family;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: 0.3s;
                        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

                        &:hover {
                            opacity: 80%;
                            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                        }
                    }
                }

                .edt-pass {
                    font-family: $font-family;
                    cursor: pointer;
                    width: 100%;
                    height: 30px;
                    margin-top: 10px;
                    color: $white-color;
                    background-color: $header-color;
                    border: none;
                    border-radius: 5px;
                    transition: 0.3s;

                    &:hover {
                        opacity: 80%;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }
                }
            }
        }

        .profile-popup {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 99999;
            background-color: rgba(0, 0, 0, 0.575);

            .profile-popup-form {
                height: 100vh;
                width: 400px;
                margin: auto;
                display: flex;
                justify-content: center;
                background-color: $divider-color;

                .popup-header {
                    display: flex;
                    align-items:flex-start;
                    border-bottom: 2px solid $header-color;
                    flex-direction: column;
                    
                    .exit-button {
                        @include flexBox();
                        height: 50px;
                        background-color: $header-color;
                        color: $white-color;
                        width: 400px;
                        justify-content: baseline;
                        border: 2px solid $header-color;

                        button {
                            cursor: pointer;
                            margin: 0 10px 0 10px;
                            background-color: $header-color;
                            border: none;
                        }

                        h2 {
                            font-weight: 400;
                        }
                    }

                    .profile-content {
                        width: 400px;
                        height: 700px;
                        @include flexBox();
                        justify-content: center;
                        flex-direction: column;

                        img {
                            border-radius: 50%;
                        }

                        form {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                        }

                        div {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;
                            color: $header-color;
                            width: 100%;
                            margin: auto;

                            label, input, .takenote {
                                margin: auto;
                            }

                            .takenote {
                                p {
                                    text-align: center;
                                    font-size: .6rem;
                                }
                            }
                            
                            input {
                                padding: 5px 8px;
                                width: 70%;
                                display: inline-block;
                                border: 1px solid #ccc;
                                box-sizing: border-box;
                                background-color: $white-color;
                                font-family: $font-family;
                                transition: 0.3s;

                                &:focus {
                                    outline: none;
                                }
                            }

                            .submit {
                                background-color: $header-color;
                                color: $white-color;
                                cursor: pointer;
                                margin-top: 10px;
                                transition: 0.3s;

                                &:hover {
                                    opacity: 80%;
                                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                                }
                            }
                        }
                    }
                }
            }
        }

        #for-edit {
            width: 1120px;
            height: 90vh;
            @include flexBox();
            justify-content: center;

            .update-cont {
                width: 500px;
                height: 550px;
    
                .back-btn {
                    color: $white-color;
                    width: 500px;
                    height: 50px;
                    background-color: $header-color;
                    border-radius: 10px 10px 0 0;
                    @include flexBox();
    
                    .bck {
                        background-color: $header-color;
                        border: none;
                        margin: 0 10px 0 10px;
                        cursor: pointer;
    
                        &:hover {
                            opacity: 80%;
                        }
                    }
                }

                .content-cont {
                    width: 500px;
                    height: 200px;
                    background-color: $divider-color;
                    border-radius: 0 0 10px 10px;
                    @include flexBox();
                    justify-content: center;

                    .input {
                        display: flex;
                        flex-direction: column;
                        width: 440px;

                        label {
                            color: $header-color;
                        }
    
                        input[type=text], input[type=file] {
                            padding: 5px 5px;
                            font-family: $font-family;
                            border: 1px solid $header-color;
                            border-radius: 5px;
                            outline: none;
                        }

                        input[type=password] {
                            padding: 5px 5px;
                            font-family: $font-family;
                            border: 1px solid $header-color;
                            border-radius: 5px;
                            outline: none;
                        }
    
                        textarea {
                            padding: 5px 5px;
                            font-family: $font-family;
                            margin-bottom: 10px;
                            border: 1px solid $header-color;
                            border-radius: 5px;
                            outline: none;
                            resize: none;
                        }
    
                        select {
                            padding: 5px 5px;
                            font-family: $font-family;
                            margin-bottom: 10px;
                            border: 1px solid $header-color;
                            border-radius: 5px;
                            outline: none;
                        }
    
                        input[type=submit], input[type=button] {
                            margin-top: 10px;
                            padding: 5px 5px;
                            cursor: pointer;
                            font-family: $font-family;
                            color: $white-color;
                            background-color: $header-color;
                            border-radius: 5px;
                            border: none;
    
                            &:hover {
                                opacity: 80%;
                            }
                        }    
                    }
                }
            }
        }
        
    }
}