/*header and button color*/
/*divider color*/
/*login container color*/
/*white color*/
/*mountain background color*/
.alert {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.575);
}
.alert .alert-cont {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert .alert-cont .alert-content {
  width: 400px;
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.alert .alert-cont .alert-content img {
  margin-top: 20px;
}
.alert .alert-cont .alert-content h1 {
  text-align: center;
  margin-top: 20px;
}
.alert .alert-cont .alert-content p {
  text-align: center;
  margin: 10px 20px 10px 10px;
}
.alert .alert-cont .alert-content .alert-btn .btn-secondary {
  background: #c1c1c1;
}
.alert .alert-cont .alert-content .alert-btn .btn-secondary:hover {
  opacity: 75%;
}
.alert .alert-cont .alert-content .alert-btn .btn-danger {
  background: #ee3535;
}
.alert .alert-cont .alert-content .alert-btn .btn-danger:hover {
  opacity: 75%;
}
.alert .alert-cont .alert-content .alert-btn .btn-green {
  background-color: #3bb54a;
}
.alert .alert-cont .alert-content .alert-btn .btn-green:hover {
  opacity: 75%;
}
.alert .alert-cont .alert-content .alert-btn input[type=button] {
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
}
.alert .alert-cont .alert-content .alert-btn button {
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: #a8896c;
  height: 75px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}
header .app-name {
  width: 50%;
}
header .app-name a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  margin: 0 0 0 70px;
}
header .app-name a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
header .app-name a h1 {
  font-size: 1.7rem;
}
header nav {
  width: 50%;
  text-align: right;
}
header nav .a {
  margin: 0 70px 0 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  font-size: 0.8rem;
  transition: 0.5s;
}
header nav .a:hover {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
}
header nav .a span {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: -15px;
  background-color: #ee0000;
  border-radius: 50%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
header nav .dropbtn {
  margin: 0 70px 0 0;
  color: #ffffff;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  font-size: 0.8rem;
  transition: 0.5s;
  cursor: pointer;
}
header nav .dropdown {
  position: relative;
  display: inline-block;
}
header nav .dropdown-content {
  display: none;
  position: absolute;
  right: 60px;
  margin-top: 5px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header nav .dropdown-content a {
  color: black;
  padding: 8px 10px;
  font-size: 0.9rem;
  text-decoration: none;
  display: block;
}
header nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}
header nav .dropdown:hover .dropdown-content {
  display: block;
}
header nav .dropdown:hover .dropbtn {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
}

.divider {
  display: flex;
  align-items: center;
  height: 2vh;
  width: 100%;
  background-color: #f2e5db;
}
.divider p {
  margin: 0 0 0 70px;
  font-size: 0.5rem;
  color: #a8896c;
}

main {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container {
  width: 1120px;
  height: 90vh;
  display: flex;
  align-items: center;
}
main .container .post-cont {
  width: 740px;
  height: 90vh;
}
main .container .post-cont .prod-back {
  margin-top: 10px;
  width: 710px;
  height: 40px;
  background-color: #a8896c;
  display: flex;
  align-items: center;
  justify-content: baseline;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main .container .post-cont .prod-back a {
  margin: 5px 20px 0 20px;
}
main .container .post-cont .category button {
  font-family: "Poppins", sans-serif;
  border: 2px solid #a8896c;
  background-color: #ffffff;
  width: 100px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  color: #a8896c;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
main .container .post-cont .category button:hover {
  color: #ffffff;
  background-color: #a8896c;
}
main .container .post-cont .category .active {
  color: #ffffff;
  background-color: #a8896c;
}
main .container .post-cont .form-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  width: 710px;
  height: 150px;
  background-color: #f2e5db;
  color: #a8896c;
  border-radius: 10px 0 10px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
main .container .post-cont .form-cont textarea {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  resize: none;
  padding: 10px;
  border: 1px solid #a8896c;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
main .container .post-cont .form-cont textarea:focus:focus {
  outline: none;
  border: 1px solid #dbb07b;
}
main .container .post-cont .form-cont .attach-submit {
  text-align: right;
}
main .container .post-cont .form-cont .attach-submit a {
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #ffffff;
  width: 100px;
  padding: 4px 30px;
  background-color: #ee3535;
  border: none;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}
main .container .post-cont .form-cont .attach-submit a:hover {
  opacity: 80%;
}
main .container .post-cont .form-cont .attach-submit input[type=submit] {
  cursor: pointer;
  border-radius: 5px;
  color: #ffffff;
  width: 100px;
  padding: 4px 0;
  background-color: #a8896c;
  border: none;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
}
main .container .post-cont .form-cont .attach-submit input[type=submit]:hover {
  opacity: 80%;
}
main .container .post-cont .form-cont .attach-submit .customize {
  margin-right: 410px;
  text-decoration: none;
  padding: 3px 10px;
  background-color: #a8896c;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .container .post-cont .form-cont .attach-submit .customize:hover {
  opacity: 80%;
}
main .container .post-cont .user-post-cont {
  overflow-y: scroll;
  height: 63vh;
  width: 710px;
  margin-top: 12px;
}
main .container .post-cont .user-post-cont .user-post {
  width: 690px;
  margin-top: 10px;
  background-color: #f2e5db;
  border-radius: 10px;
}
main .container .post-cont .user-post-cont .user-post .pp-name-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #a8896c;
}
main .container .post-cont .user-post-cont .user-post .pp-name-date .pp-name {
  margin: 10px 0 15px 20px;
  display: flex;
  align-items: center;
}
main .container .post-cont .user-post-cont .user-post .pp-name-date .pp-name .profile-pic {
  border-radius: 50%;
  border: 2px solid #a8896c;
}
main .container .post-cont .user-post-cont .user-post .pp-name-date .pp-name h2 {
  margin-left: 10px;
}
main .container .post-cont .user-post-cont .user-post .pp-name-date .pp-name a {
  color: #a8896c;
  font-size: 0.8rem;
  margin-left: 20px;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
}
main .container .post-cont .user-post-cont .user-post .pp-name-date .pp-name a:hover {
  opacity: 80%;
}
main .container .post-cont .user-post-cont .user-post .pp-name-date p {
  font-size: 0.6rem;
  margin: 10px 20px 15px 0;
}
main .container .post-cont .user-post-cont .user-post .caption-attachment {
  margin: 0 40px 15px 40px;
  font-size: 0.9rem;
}
main .container .post-cont .user-post-cont .user-post .shop-response {
  background-color: #f5ece3;
  margin: 0 40px 15px 40px;
  font-size: 0.9rem;
}
main .container .post-cont .user-post-cont .user-post .shop-response h3 {
  color: #a8896c;
}
main .container .post-cont .user-post-cont .user-post .shop-response p {
  margin-left: 20px;
}
main .container .post-cont .user-post-cont .user-post .comment-send form {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .post-cont .user-post-cont .user-post .comment-send textarea {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
}
main .container .post-cont .user-post-cont .user-post .comment-send textarea:focus {
  outline: none;
}
main .container .post-cont .user-post-cont .user-post .comment-send button {
  cursor: pointer;
  margin: 10px 0 10px 10px;
  border: none;
  background-color: #f2e5db;
}
main .container .post-cont .user-post-cont .user-post .comment-send button:hover {
  opacity: 80%;
}
main .container .shopinfo-cont {
  width: 380px;
  height: 90vh;
}
main .container .shopinfo-cont .shopinfo {
  margin-top: 10px;
  width: 380px;
  height: 78vh;
  color: #a8896c;
  background-color: #f2e5db;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
main .container .shopinfo-cont .shopinfo .profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ffffff;
  background-color: #a8896c;
}
main .container .shopinfo-cont .shopinfo .profile-pic img {
  margin: 10px 0;
  border: 5px solid #a8896c;
  border-radius: 50%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
main .container .shopinfo-cont .shopinfo .profile-pic .edit-btn {
  position: absolute;
  margin-top: 90px;
  background-color: #f5ece3;
  padding: 1px 20px;
  color: #a8896c;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
main .container .shopinfo-cont .shopinfo .profile-pic .edit-btn:hover {
  opacity: 80%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
main .container .shopinfo-cont .shopinfo h1 {
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
  color: #ffffff;
  background-color: #a8896c;
}
main .container .shopinfo-cont .shopinfo h3 {
  margin: 10px 0 0 10px;
  font-weight: 600;
}
main .container .shopinfo-cont .shopinfo p {
  margin-left: 30px;
  font-size: 0.8rem;
}
main .container .shopinfo-cont .shopinfo p .edit-btn {
  background-color: #a8896c;
  padding: 1px 20px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
main .container .shopinfo-cont .shopinfo p .edit-btn:hover {
  opacity: 80%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
main .container .shopinfo-cont .shopinfo .edt-pass {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #a8896c;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}
main .container .shopinfo-cont .shopinfo .edt-pass:hover {
  opacity: 80%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .container .profile-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.575);
}
main .container .profile-popup .profile-popup-form {
  height: 100vh;
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #f2e5db;
}
main .container .profile-popup .profile-popup-form .popup-header {
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid #a8896c;
  flex-direction: column;
}
main .container .profile-popup .profile-popup-form .popup-header .exit-button {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #a8896c;
  color: #ffffff;
  width: 400px;
  justify-content: baseline;
  border: 2px solid #a8896c;
}
main .container .profile-popup .profile-popup-form .popup-header .exit-button button {
  cursor: pointer;
  margin: 0 10px 0 10px;
  background-color: #a8896c;
  border: none;
}
main .container .profile-popup .profile-popup-form .popup-header .exit-button h2 {
  font-weight: 400;
}
main .container .profile-popup .profile-popup-form .popup-header .profile-content {
  width: 400px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .container .profile-popup .profile-popup-form .popup-header .profile-content img {
  border-radius: 50%;
}
main .container .profile-popup .profile-popup-form .popup-header .profile-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .container .profile-popup .profile-popup-form .popup-header .profile-content div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: #a8896c;
  width: 100%;
  margin: auto;
}
main .container .profile-popup .profile-popup-form .popup-header .profile-content div label, main .container .profile-popup .profile-popup-form .popup-header .profile-content div input, main .container .profile-popup .profile-popup-form .popup-header .profile-content div .takenote {
  margin: auto;
}
main .container .profile-popup .profile-popup-form .popup-header .profile-content div .takenote p {
  text-align: center;
  font-size: 0.6rem;
}
main .container .profile-popup .profile-popup-form .popup-header .profile-content div input {
  padding: 5px 8px;
  width: 70%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}
main .container .profile-popup .profile-popup-form .popup-header .profile-content div input:focus {
  outline: none;
}
main .container .profile-popup .profile-popup-form .popup-header .profile-content div .submit {
  background-color: #a8896c;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}
main .container .profile-popup .profile-popup-form .popup-header .profile-content div .submit:hover {
  opacity: 80%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
main .container #for-edit {
  width: 1120px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container #for-edit .update-cont {
  width: 500px;
  height: 550px;
}
main .container #for-edit .update-cont .back-btn {
  color: #ffffff;
  width: 500px;
  height: 50px;
  background-color: #a8896c;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
}
main .container #for-edit .update-cont .back-btn .bck {
  background-color: #a8896c;
  border: none;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
main .container #for-edit .update-cont .back-btn .bck:hover {
  opacity: 80%;
}
main .container #for-edit .update-cont .content-cont {
  width: 500px;
  height: 200px;
  background-color: #f2e5db;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container #for-edit .update-cont .content-cont .input {
  display: flex;
  flex-direction: column;
  width: 440px;
}
main .container #for-edit .update-cont .content-cont .input label {
  color: #a8896c;
}
main .container #for-edit .update-cont .content-cont .input input[type=text], main .container #for-edit .update-cont .content-cont .input input[type=file] {
  padding: 5px 5px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #a8896c;
  border-radius: 5px;
  outline: none;
}
main .container #for-edit .update-cont .content-cont .input input[type=password] {
  padding: 5px 5px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #a8896c;
  border-radius: 5px;
  outline: none;
}
main .container #for-edit .update-cont .content-cont .input textarea {
  padding: 5px 5px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  border: 1px solid #a8896c;
  border-radius: 5px;
  outline: none;
  resize: none;
}
main .container #for-edit .update-cont .content-cont .input select {
  padding: 5px 5px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  border: 1px solid #a8896c;
  border-radius: 5px;
  outline: none;
}
main .container #for-edit .update-cont .content-cont .input input[type=submit], main .container #for-edit .update-cont .content-cont .input input[type=button] {
  margin-top: 10px;
  padding: 5px 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #a8896c;
  border-radius: 5px;
  border: none;
}
main .container #for-edit .update-cont .content-cont .input input[type=submit]:hover, main .container #for-edit .update-cont .content-cont .input input[type=button]:hover {
  opacity: 80%;
}/*# sourceMappingURL=userProfile.css.map */