@use '../../style/header/header';
@use '../../style/globals' as *;

main {
    width: 100%;
    height: 80vh;
    @include flexBox();
    justify-content: center;

    //for shop info to be open in mobile devices
    .open-shopinfo {
        display: none;
    }

    .container {
        width: 70rem;
        height: 80vh;
        @include flexBox();

        .product-cont {
            width: 46.25rem;
            height: 80vh;

            .category {

                button {
                    font-family: $font-family;
                    border: 2px solid $header-color;
                    background-color: $white-color;
                    width: 6.25rem;
                    border-radius: 5px;
                    margin-top: 10px;
                    cursor: pointer;
                    color: $header-color;
                    transition: 0.3s;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

                    &:hover {
                        color: $white-color;
                        background-color: $header-color;
                    }
                }

                .active {
                    color: $white-color;
                    background-color: $header-color;
                }
            }

            .product {
                overflow-y: scroll;
                @include scroll();
                height: 78vh;
                width: 44.375rem;
                margin-top: 12px;
                

                .display-div {
                    width: 43.125rem;
                    display: flex;
                    flex-wrap: wrap;

                    .prod-display {
                        overflow: hidden;
                        width: 10.3125rem;
                        height: 15.625rem;
                        margin-left: 6px;
                        margin-top: 10px;
                        text-align: center;
                        @include flexBox();
                        justify-content: center;
                        flex-direction: column;
                        cursor: pointer;
                        color: $header-color;
                        background-color: $divider-color;
                        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        }
                        
                        .prod-img {
                            width: 9.375rem;
                            height: 9.375rem;
                            background-color: $white-color;
                            @include flexBox();
                            justify-content: center;
                        }

                        .pname {
                            width: 8.75rem;
                            padding: 5px;
                            overflow: hidden;

                            h4 {
                                white-space: nowrap;
                            }
                        }

                        p {
                            margin-top: 10px;
                            white-space: nowrap;
                            font-size: .8rem;
                        }
                    }
                }
            }
        }

        .shopinfo-cont {
            width: 23.75rem;
            height: 80vh;

            .search-bar {
                input[type=text] {
                    width: 76%;
                    padding: 5px 8px;
                    margin: 10px 0;
                    display: inline-block;
                    border: 1px solid $header-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                    
                    &:focus {
                        outline: none;
                        border: 1px solid $mt-color;
                    }
                }

                button {
                    width: 22%;
                    padding: 4px 0;
                    border-radius: 5px;
                    border: 1px solid $header-color;
                    color: $white-color;
                    background-color: $header-color;
                    cursor: pointer;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

                    &:hover {
                        opacity: 70%;
                    }
                }
            }

            .shopinfo {
                width: 23.75rem;
                height: 78vh;
                color: $header-color;
                background-color: $divider-color;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                
                .profile-pic {
                    @include flexBox();
                    justify-content: center;
                    border-bottom: 2px solid $white-color;
                    background-color: $header-color;

                    img {
                        margin: 10px 0;
                        border: 5px solid $header-color;
                        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
                    }
                }
                
                h1 {
                    text-align: center;
                    padding-top: 10px;
                    font-weight: 700;
                    color: $white-color;
                    background-color: $header-color;
                }

                h3 {
                    margin: 10px 0 0 10px;
                    font-weight: 600;
                    font-size: .9rem;
                }

                a {
                    color: $header-color;

                    &:hover {
                        opacity: 80%;
                    }
                }

                p {
                    margin-left: 30px;
                    font-size: .8rem;
                }

                .info-line {
                    border-bottom: 1px solid $white-color;
                    margin-top: 20px;
                }
            }
        }
    }
}

//Media Queries/Responsive design
@include extra-small {
    //header
    header {
        height: 50px;

        .app-name {
            a {
                margin-left: 20px;
                
                img {
                    width: 20px;
                    height: 20px;
                }

                h1 {
                    font-size: .9rem;
                }
            }
        }

        .block {
            display: none;
        }

        .nav-phone {
            display: block;
            width: 50%;
            text-align: right;

            .a {
                text-decoration: none;
                color: $white-color;
                font-size: $nav-size;
                font-weight: 400;
                font-size: .8rem;
                transition: 0.5s;
        
                &:hover {
                    border-bottom: 3px solid $white-color;
                    padding-bottom: 5px;
                }
        
                span {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    margin-left: -15px;
                    color: $white-color;
                    background-color: #ee0000;
                    border-radius: 50%;
                    text-align: center;
                    font-family: $times;
                }
            }
            .dropbtn {
                margin-right: 20px;
                color: $white-color;
                text-decoration: none;
                color: $white-color;
                font-size: $nav-size;
                font-weight: 400;
                font-size: .8rem;
                transition: 0.5s;
                cursor: pointer;
            }
              
            .dropdown {
                position: relative;
                display: inline-block;
            }
              
            .dropdown-content {
                display: none;
                position: absolute;
                right: 20px;
                margin-top: 5px;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }
              
            .dropdown-content a {
                color: black;
                padding: 8px 10px;
                font-size: .9rem;
                text-decoration: none;
                display: block;
            }
              
            .dropdown-content a:hover {background-color: #f1f1f1;}
            .dropdown:hover .dropdown-content {display: block;}
            .dropdown:hover .dropbtn {
                border-bottom: 3px solid $white-color;
                padding-bottom: 5px;
            }
        }
    }

    .divider {
         p {
            margin-left: 20px;
            font-size: .4rem;
         }
    }

    //main
    //container
    //product-cont
    main {
        .container {
            width: 100%;

            .product-cont {
                width: 100%;

                .category {
                    margin-top: 40px;

                    button {
                        width: 7.3rem;
                        font-size: .6rem;
                        margin-top: 5px;
                    }
                }
    
                .product {
                    width: 100%;
                    height: 68vh;
    
                    .display-div {
                        width: 100%;
                        margin-bottom: 40px;

                        .prod-display {
                            width: 10.5rem;
                            height: 15rem;

                            .prod-img {
                                width: 10rem;
                                height: 10rem;
                            }
                        }
                    }
                }
            }

            .shopinfo-cont {
                position: absolute;
                width: 100%;
                height: 0;
                top: 62px;

                .shopinfo {
                    display: none;
                    width: 100%;
                    position: absolute;
                    animation: fadeIn 1s;

                    @keyframes fadeIn {
                        0% { opacity: 0; }
                        100% { opacity: 1; }
                      }
                }
            }

            .open-shopinfo {
                display: block;
                position: absolute;
                animation: fadeIn 2s;
                bottom: 0;
                width: 100%;
                height: 30px;
                background-color: $header-color;
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

                @keyframes fadeIn {
                    0% { opacity: 0; }
                    100% { opacity: 1; }
                  }

                button {
                    position: absolute;
                    bottom: 0;
                    left: 152px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: $header-color;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
                }

                #close {
                    display: none;
                }
            }
        }
    }

}

@include lg-only {
    main {
        .container {
            width: 61rem;

            .product-cont {
                width: 40rem;

                .category {

                    button {
                        width: 5.8rem;
                    }
                }
    
                .product {
                    width: 37rem;
    
                    .display-div {
                        width: 36rem;

                        .prod-display {
                            width: 8.5rem;
                            height: 13.5rem;

                            .prod-img {
                                width: 7.5rem;
                                height: 7.5rem;
                            }
                        }
                    }
                }
            }

            .shopinfo-cont {
                width: 23rem;

                .shopinfo {
                    width: 23rem;
                }
            }
        }
    }
}

@include md-only {
    //main
    //container
    //product-cont
    main {
        .container {
            width: 100%;

            .product-cont {
                width: 100%;

                .category {

                    button {
                        width: 7.7rem;
                        font-size: 1rem;
                        margin-top: 30px;
                    }
                }
    
                .product {
                    width: 100%;
    
                    .display-div {
                        width: 100%;
                        margin-bottom: 80px;

                        .prod-display {
                            width: 11.5rem;
                            height: 17rem;

                            .prod-img {
                                width: 10.5rem;
                                height: 10.5rem;
                            }
                        }
                    }
                }
            }

            .shopinfo-cont {
                position: absolute;
                width: 100%;
                height: 0;
                top: 70px;

                .shopinfo {
                    display: none;
                    width: 100%;
                    position: absolute;
                    animation: fadeIn 1s;

                    @keyframes fadeIn {
                        0% { opacity: 0; }
                        100% { opacity: 1; }
                      }
                }
            }

            .open-shopinfo {
                display: block;
                position: absolute;
                animation: fadeIn 2s;
                bottom: 0;
                width: 100%;
                height: 30px;
                background-color: $header-color;
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

                @keyframes fadeIn {
                    0% { opacity: 0; }
                    100% { opacity: 1; }
                  }

                button {
                    position: absolute;
                    bottom: 0;
                    left: 350px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: $header-color;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
                }

                #close {
                    display: none;
                }
            }
        }
    }
}