@use '../../style/header/header';
@use '../../style/globals' as *;

main {
    width: 100%;
    height: 90vh;
    @include flexBox();
    justify-content: center;

    .container {
        width: 1120px;
        height: 90vh;
        @include flexBox();

        .product-cont {
            width: 740px;
            height: 90vh;

            .category {

                button {
                    font-family: $font-family;
                    border: 2px solid $header-color;
                    background-color: $white-color;
                    width: 100px;
                    border-radius: 5px;
                    margin-top: 10px;
                    cursor: pointer;
                    color: $header-color;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

                    &:hover {
                        color: $white-color;
                        background-color: $header-color;
                    }
                }

                .active {
                    color: $white-color;
                    background-color: $header-color;
                }
            }

            .product {
                overflow-y: scroll;
                height: 78vh;
                width: 710px;
                margin-top: 12px;
                

                .display-div {
                    width: 690px;
                    display: flex;
                    flex-wrap: wrap;

                    .prod-display {
                        overflow: hidden;
                        width: 165px;
                        height: 250px;
                        margin-left: 6px;
                        margin-top: 10px;
                        text-align: center;
                        @include flexBox();
                        justify-content: center;
                        flex-direction: column;
                        cursor: pointer;
                        color: $header-color;
                        background-color: $divider-color;
                        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        }
                        
                        .prod-img {
                            width: 150px;
                            height: 150px;
                            background-color: $white-color;
                            @include flexBox();
                            justify-content: center;
                        }

                        .pname {
                            width: 140px;
                            padding: 5px;
                            overflow: hidden;

                            h4 {
                                white-space: nowrap;
                            }
                        }

                        p {
                            margin-top: 10px;
                            white-space: nowrap;
                            font-size: .8rem;
                        }
                    }
                }
            }
        }

        .shopinfo-cont {
            width: 380px;
            height: 90vh;

            .search-bar {
                input[type=text] {
                    width: 76%;
                    padding: 5px 8px;
                    margin: 10px 0;
                    display: inline-block;
                    border: 1px solid $header-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                    
                    &:focus {
                        outline: none;
                        border: 1px solid $mt-color;
                    }
                }

                button {
                    width: 22%;
                    padding: 4px 0;
                    border-radius: 5px;
                    border: 1px solid $header-color;
                    color: $white-color;
                    background-color: $header-color;
                    cursor: pointer;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

                    &:hover {
                        opacity: 70%;
                    }
                }
            }

            .shopinfo {
                width: 380px;
                height: 78vh;
                color: $header-color;
                background-color: $divider-color;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                
                .profile-pic {
                    @include flexBox();
                    justify-content: center;
                    border-bottom: 2px solid $white-color;
                    background-color: $header-color;

                    img {
                        margin: 10px 0;
                        border: 5px solid $header-color;
                        border-radius: 50%;
                        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                    }
                }
                
                h1 {
                    text-align: center;
                    padding-top: 10px;
                    font-weight: 700;
                    color: $white-color;
                    background-color: $header-color;
                }

                h3 {
                    margin: 10px 0 0 10px;
                    font-weight: 600;
                }

                a {
                    color: $header-color;

                    &:hover {
                        opacity: 80%;
                    }
                }

                p {
                    margin-left: 30px;
                    font-size: .8rem;
                }
            }
        }
    }
}