/*header and button color*/
/*divider color*/
/*login container color*/
/*white color*/
/*mountain background color*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: #a8896c;
  height: 8vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}
header .app-name {
  width: 50%;
}
header .app-name a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  margin: 0 0 0 70px;
}
header .app-name a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
header .app-name a h1 {
  font-size: 1.7rem;
}
header nav {
  width: 50%;
  text-align: right;
}
header nav a {
  margin: 0 70px 0 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  font-size: 0.8rem;
}
header nav a:hover {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
}

.divider {
  display: flex;
  align-items: center;
  height: 2vh;
  width: 100%;
  background-color: #f2e5db;
}
.divider p {
  margin: 0 0 0 70px;
  font-size: 0.5rem;
  color: #a8896c;
}

/*WOOD FURNITURE DESIGN CUSTOMIZATION AND ORDERING SYSTEM*/
/*imported styles*/
#landing-page {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #cc5577;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c45 C 57.6%2c84.4 172.8%2c247.8 288%2c242 C 403.2%2c236.2 460.8%2c31.8 576%2c16 C 691.2%2c0.2 748.8%2c150.6 864%2c163 C 979.2%2c175.4 1036.8%2c76.8 1152%2c78 C 1267.2%2c79.2 1382.4%2c150.8 1440%2c169L1440 560L0 560z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c365 C 96%2c383 288%2c456.8 480%2c455 C 672%2c453.2 768%2c352.4 960%2c356 C 1152%2c359.6 1344%2c449.6 1440%2c473L1440 560L0 560z' fill='rgba(219%2c 176%2c 123%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-size: cover;
}
#landing-page .landing-text {
  width: 700px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
#landing-page .landing-text h1 {
  font-size: 3rem;
  color: #a8896c;
}
#landing-page .landing-text p {
  font-size: 1rem;
  line-height: 2.5;
  word-break: keep-all;
}
#landing-page .landing-text button {
  padding: 15px 20px 15px 20px;
  border-radius: 20px;
  border: none;
  background-color: #a8896c;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
}
#landing-page .landing-text button:hover {
  opacity: 75%;
}
#landing-page .image-slide img {
  width: 31.25rem;
  height: 31.25rem;
  border-radius: 0 100px 0 100px;
}

#product-list {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1066%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M655 524L-375 523' stroke-width='6' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M706 84L-239 83' stroke-width='8' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M64 99L-801 98' stroke-width='6' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1044 18L1415 17' stroke-width='6' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1310 136L437 135' stroke-width='8' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1032 400L1811 399' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1327 518L1694 517' stroke-width='8' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1139 351L1981 350' stroke-width='6' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1191 455L126 454' stroke-width='10' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M586 37L103 36' stroke-width='6' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1393 331L661 330' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M931 476L134 475' stroke-width='8' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M989 270L304 269' stroke-width='6' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M719 356L1325 355' stroke-width='6' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1066'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1067'%3e%3cstop stop-color='rgba(219%2c 176%2c 123%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(219%2c 176%2c 123%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1068'%3e%3cstop stop-color='rgba(219%2c 176%2c 123%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(219%2c 176%2c 123%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-size: cover;
}
#product-list .product-cont {
  display: flex;
  align-items: center;
  height: 80vh;
  width: 90%;
  justify-content: center;
  flex-direction: column;
}
#product-list .product-cont h1 {
  color: #a8896c;
  font-size: 3rem;
}
#product-list .product-cont .prod-cont-parent {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#product-list .product-cont .prod-cont-parent button {
  position: absolute;
  right: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#product-list .product-cont .prod-cont-parent button img {
  width: 55px;
  height: 55px;
}
#product-list .product-cont .prod-cont-parent button:hover {
  opacity: 80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#product-list .product-cont .prod-cont-parent .prod-child {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#product-list .product-cont .prod-cont-parent .prod-child .prod-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #a8896c;
  height: 88%;
  width: 29.5%;
  background-color: #f2e5db;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#product-list .product-cont .prod-cont-parent .prod-child .prod-content .prod-img {
  width: 90%;
  height: 55%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#product-list .product-cont .prod-cont-parent .prod-child .prod-content h2 {
  margin: 20px;
  font-weight: 800;
}

#contact {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1066%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M655 524L-375 523' stroke-width='6' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M706 84L-239 83' stroke-width='8' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M64 99L-801 98' stroke-width='6' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1044 18L1415 17' stroke-width='6' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1310 136L437 135' stroke-width='8' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1032 400L1811 399' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1327 518L1694 517' stroke-width='8' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1139 351L1981 350' stroke-width='6' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1191 455L126 454' stroke-width='10' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M586 37L103 36' stroke-width='6' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1393 331L661 330' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M931 476L134 475' stroke-width='8' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M989 270L304 269' stroke-width='6' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M719 356L1325 355' stroke-width='6' stroke='url(%23SvgjsLinearGradient1068)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1066'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1067'%3e%3cstop stop-color='rgba(219%2c 176%2c 123%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(219%2c 176%2c 123%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1068'%3e%3cstop stop-color='rgba(219%2c 176%2c 123%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(219%2c 176%2c 123%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-size: cover;
}
#contact .profile {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .profile .prof-cont {
  overflow-y: scroll;
  width: 80%;
  height: 80vh;
  margin-top: 60px;
  background-color: rgba(245, 236, 227, 0.6039215686);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#contact .profile .prof-cont::-webkit-scrollbar {
  display: block;
  width: 5px;
}
#contact .profile .prof-cont::-webkit-scrollbar-track {
  background: transparent;
}
#contact .profile .prof-cont::-webkit-scrollbar-thumb {
  background-color: #a8896c;
  border-right: none;
  border-left: none;
}
#contact .profile .prof-cont::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}
#contact .profile .prof-cont::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}
#contact .profile .prof-cont img {
  width: 150px;
  height: 150px;
  margin-top: 80px;
}
#contact .profile .prof-cont h1 {
  color: #a8896c;
  text-decoration: underline;
}
#contact .profile .prof-cont p {
  color: #a8896c;
}
#contact .profile .prof-cont .location {
  width: 100%;
}
#contact .profile .prof-cont .location p {
  font-size: 1rem;
  margin-left: 60px;
}
#contact .profile .prof-cont .location p img {
  width: 12px;
  height: 12px;
}
#contact .profile .prof-cont .location .loc {
  margin-top: -70px;
}
#contact .profile .prof-cont .google-map {
  margin-top: -50px;
}
#contact .profile .prof-cont .google-map img {
  width: 400px;
  height: 200px;
  margin-bottom: 30px;
}
#contact .contact-form {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#contact .contact-form .contact-cont {
  overflow-y: scroll;
  width: 80%;
  height: 80vh;
  margin-top: 60px;
  background-color: rgba(245, 236, 227, 0.6039215686);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#contact .contact-form .contact-cont::-webkit-scrollbar {
  display: block;
  width: 5px;
}
#contact .contact-form .contact-cont::-webkit-scrollbar-track {
  background: transparent;
}
#contact .contact-form .contact-cont::-webkit-scrollbar-thumb {
  background-color: #a8896c;
  border-right: none;
  border-left: none;
}
#contact .contact-form .contact-cont::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}
#contact .contact-form .contact-cont::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}
#contact .contact-form .contact-cont h1 {
  margin-top: 40px;
  font-size: 2rem;
  color: #a8896c;
  font-weight: 800;
}
#contact .contact-form .contact-cont p {
  text-align: center;
  margin: 0 70px;
  color: #a8896c;
  border-top: 1px solid #dbb07b;
  padding-top: 20px;
  margin-top: 20px;
}
#contact .contact-form .contact-cont form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .contact-form .contact-cont .form-inputs {
  width: 80%;
}
#contact .contact-form .contact-cont .form-inputs .input, #contact .contact-form .contact-cont .form-inputs .button {
  display: flex;
  flex-direction: column;
}
#contact .contact-form .contact-cont .form-inputs .input input[type=text], #contact .contact-form .contact-cont .form-inputs .input input[type=email], #contact .contact-form .contact-cont .form-inputs .input textarea, #contact .contact-form .contact-cont .form-inputs .button input[type=text], #contact .contact-form .contact-cont .form-inputs .button input[type=email], #contact .contact-form .contact-cont .form-inputs .button textarea {
  padding: 15px 8px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #dbb07b;
  box-sizing: border-box;
  border-radius: 1px;
}
#contact .contact-form .contact-cont .form-inputs .input label, #contact .contact-form .contact-cont .form-inputs .button label {
  color: #a8896c;
}
#contact .contact-form .contact-cont .form-inputs .input .submit, #contact .contact-form .contact-cont .form-inputs .button .submit {
  background-color: #a8896c;
  color: white;
  padding: 15px 0;
  margin: 10px 0 50px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}
#contact .contact-form .contact-cont .form-inputs .input .submit:hover, #contact .contact-form .contact-cont .form-inputs .button .submit:hover {
  opacity: 70%;
}

@media (max-width: 575px) {
  header {
    height: 6vh;
  }
  header .app-name a {
    margin-left: 20px;
  }
  header .app-name a h1 {
    display: none;
  }
  #landing-page {
    height: 92vh;
  }
}/*# sourceMappingURL=style.css.map */