@use '../../style/header/header';
@use '../../style/globals' as *;

main {
    width: 100%;
    height: 90vh;
    @include flexBox();
    justify-content: center;

    .container {
        width: 1120px;
        height: 90vh;
        @include flexBox();

        .message-cont {
            width: 740px;
            height: 90vh;

            .message-head {
                margin-top: 12px;
                width: 710px;
                height: 70px;
                border-radius: 10px 10px 0 0;
                background-color: $divider-color;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                @include flexBox();

                img {
                    margin-left: 20px;
                    border-radius: 50%;
                }

                .status {
                    a {
                        color: $header-color;
                        margin-left: 10px;
                        font-size: 1.3rem;
                        font-weight: 600;
                        text-decoration: none;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    p {
                        margin-left: 10px;
                        color: $header-color;
                        font-size: .8rem;
                    }
                }
                
            }

            .message-box {
                overflow-y: scroll;
                height: 68vh;
                width: 710px;
                border-left: 3px solid $divider-color;  
                border-right: 3px solid $divider-color; 
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; 

                .time-s {
                    text-align: center;
                    font-size: .6rem;
                    color: $header-color;
                    opacity: 40%;
                }

                .nm {
                    text-align: center;
                    margin-top: 40%;
                    color: $header-color;
                    opacity: 60%;
                }

                .message-me {
                    width: 100%;
                    @include flexBox();
                    justify-content: start;
                    margin-top: 5px;
                    margin-bottom: 5px;

                    .message-one {
                        border-radius: 0 10px 10px 10px;
                        width: 60%;
                        background-color: $header-color;
                        margin: 0 5px 0 5px;
                        padding: 10px 20px 10px 20px;
                        word-wrap: break-word;
                        color: $white-color;
                    }
                }

                .message-admin {
                    width: 100%;
                    @include flexBox();
                    justify-content: end;
                    margin-top: 5px;
                    margin-bottom: 5px;

                    .message-two {
                        border-radius: 10px 10px 0 10px;
                        width: 60%;
                        background-color: $divider-color;
                        margin: 0 5px 0 5px;
                        padding: 10px 20px 10px 20px;
                        word-wrap: break-word;
                        color: $header-color;
                    }
                }
            }

            .message-input {
                margin-bottom: 12px;
                width: 710px;
                height: 70px;
                border-radius: 0 0 10px 10px;
                background-color: $divider-color;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            
                form {
                    @include flexBox();

                    .file {
                        margin: 10px 20px 0 20px;
                        label {
                            cursor: pointer;
                        }

                        input[type=file] {
                            opacity: 0;
                            position: absolute;
                            z-index: -1;
                        }
                    }

                    textarea {
                        font-family: $font-family;
                        margin-top: 10px;
                        resize: none;
                        border-radius: 10px;
                        padding: 10px;
                    }

                    button {
                        cursor: pointer;
                        margin: 10px 20px 0 20px;
                        border: none;
                        background-color: $divider-color;

                        &:hover {
                            opacity: 80%;
                        }
                    }
                }
            }
        }

        .progress-cont {
            width: 380px;
            height: 90vh;

            .progress {
                margin-top: 10px;
                width: 380px;
                height: 83vh;
                color: $header-color;
                background-color: $divider-color;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                
                .progress-header {
                    width: 380px;
                    @include flexBox();
                    justify-content: space-between;
                    border-bottom: 2px solid $white-color;
                    background-color: $header-color;

                    h2, p {
                        margin: 10px;
                        color: $white-color;
                    }
                }

                .progress-bar-cont {
                    width: 380px;
                    height: 73vh;
                    @include flexBox();
                    flex-direction: column;
                    cursor: pointer;

                    .canvas {
                        overflow: scroll;
                        @include scroll();
                        height: 65vh;
                        width: 360px;
                        margin-top: 10px;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                        
                        .accept-order {
                            padding: 3px 116px 3px 116px;
                            color: $white-color;
                            margin-left: 10px;
                            text-decoration: none;
                            cursor: pointer;
                            font-family: $font-family;
                            background-color: $header-color;

                            &:hover {
                                opacity: 75%;
                            }
                        }
                        
                        .tran-cont {
                            display: flex;
                            justify-content: center;
                            margin: 10px;
                            flex-direction: column;

                            .p-s, .d-t {
                                @include flexBox();

                                p {
                                    font-size: .8rem;
                                }
                                
                                .title {
                                    font-weight: 600;
                                }
                            }
                        }

                        .order {
                            display: flex;
                            justify-content: center;
                            margin: 10px;
                            flex-direction: column;

                            p {
                                font-size: .8rem;
                            }

                            .spe-order {
                                display: flex;
                                width: 340px;
                                height: 50px;
                                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                            
                                img {
                                    margin-left: 5px;
                                    margin-right: 5px;
                                    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                                }
                            }
                        }

                        .progress-timeline {
                            display: flex;
                            justify-content: center;
                            margin: 10px;
                            flex-direction: column;
                            

                            p {
                                font-size: .8rem;
                            }

                            .percentage {
                                width: 340px;
                                height: 30px;
                                margin-top: 10px;
                                border-left: 5px solid $header-color;
                                @include flexBox();

                                .prog-status {
                                    width: 85px;

                                    p {
                                        margin-left: 5px;
                                        color: $red;
                                    }
                                }

                                .percent {
                                    width: 60px;
                                }

                                .prog-desc {
                                    width: 195px;
                                }
                            }

                            .line {
                                border: 2px dotted $white-color;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}