/*header and button color*/
/*divider color*/
/*login container color*/
/*white color*/
/*mountain background color*/
.alert {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.575);
}
.alert .alert-cont {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert .alert-cont .alert-content {
  width: 400px;
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.alert .alert-cont .alert-content img {
  margin-top: 20px;
}
.alert .alert-cont .alert-content h1 {
  text-align: center;
  margin-top: 20px;
}
.alert .alert-cont .alert-content p {
  text-align: center;
  margin: 10px 20px 10px 10px;
}
.alert .alert-cont .alert-content .alert-btn .btn-secondary {
  background: #c1c1c1;
}
.alert .alert-cont .alert-content .alert-btn .btn-secondary:hover {
  opacity: 75%;
}
.alert .alert-cont .alert-content .alert-btn .btn-danger {
  background: #ee3535;
}
.alert .alert-cont .alert-content .alert-btn .btn-danger:hover {
  opacity: 75%;
}
.alert .alert-cont .alert-content .alert-btn .btn-green {
  background-color: #3bb54a;
}
.alert .alert-cont .alert-content .alert-btn .btn-green:hover {
  opacity: 75%;
}
.alert .alert-cont .alert-content .alert-btn input[type=button] {
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
}
.alert .alert-cont .alert-content .alert-btn button {
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: #a8896c;
  height: 75px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}
header .app-name {
  width: 50%;
}
header .app-name a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  margin: 0 0 0 70px;
}
header .app-name a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
header .app-name a h1 {
  font-size: 1.7rem;
}
header nav {
  width: 50%;
  text-align: right;
}
header nav .a {
  margin: 0 70px 0 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  font-size: 0.8rem;
  transition: 0.5s;
}
header nav .a:hover {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
}
header nav .a span {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: -15px;
  background-color: #ee0000;
  border-radius: 50%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
header nav .dropbtn {
  margin: 0 70px 0 0;
  color: #ffffff;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  font-size: 0.8rem;
  transition: 0.5s;
  cursor: pointer;
}
header nav .dropdown {
  position: relative;
  display: inline-block;
}
header nav .dropdown-content {
  display: none;
  position: absolute;
  right: 60px;
  margin-top: 5px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header nav .dropdown-content a {
  color: black;
  padding: 8px 10px;
  font-size: 0.9rem;
  text-decoration: none;
  display: block;
}
header nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}
header nav .dropdown:hover .dropdown-content {
  display: block;
}
header nav .dropdown:hover .dropbtn {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
}
header .nav-phone {
  display: block;
}

.divider {
  display: flex;
  align-items: center;
  height: 2vh;
  width: 100%;
  background-color: #f2e5db;
}
.divider p {
  margin: 0 0 0 70px;
  font-size: 0.5rem;
  color: #a8896c;
}

header nav {
  display: none;
}

main {
  width: 100%;
  height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container {
  width: 1120px;
  height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .product-cont {
  width: 430px;
  height: 86vh;
}
main .container .product-cont .prod-back {
  margin-top: 10px;
  width: 420px;
  height: 40px;
  background-color: #a8896c;
  display: flex;
  align-items: center;
  justify-content: baseline;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main .container .product-cont .prod-back a {
  margin: 5px 20px 0 20px;
}
main .container .product-cont .gcash-cont {
  height: 70vh;
  width: 420px;
  margin-top: 5px;
  background-color: #ffffff;
  overflow-y: scroll;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main .container .product-cont .gcash-cont::-webkit-scrollbar {
  display: block;
  width: 5px;
}
main .container .product-cont .gcash-cont::-webkit-scrollbar-track {
  background: transparent;
}
main .container .product-cont .gcash-cont::-webkit-scrollbar-thumb {
  background-color: #a8896c;
  border-right: none;
  border-left: none;
}
main .container .product-cont .gcash-cont::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}
main .container .product-cont .gcash-cont::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}
main .container .product-cont .gcash-cont h1 {
  color: #a8896c;
  padding: 5px 0;
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid #aaaaaa;
}
main .container .product-cont .gcash-cont img {
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main .container .product-cont .gcash-cont .g-content {
  color: #a8896c;
  width: 100%;
  padding: 10px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main .container .product-cont .gcash-cont .g-content p {
  font-size: 0.9rem;
}
main .container .product-cont .gcash-cont .g-content span {
  font-family: "Times New Roman", Times, serif;
}
main .container .product-cont .gcash-cont .g-form input[type=submit] {
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  width: 100%;
  color: #ffffff;
  background-color: #007dfe;
  border-radius: 5px;
  border: none;
  padding: 5px 0;
  transition: 0.3s;
  cursor: not-allowed;
  opacity: 80%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main .container .product-cont .gcash-cont .g-btn {
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main .container .product-cont .gcash-cont .g-btn p {
  font-size: 0.8rem;
  color: #a8896c;
  margin-bottom: 10px;
}
main .container .product-cont .gcash-cont .g-btn a {
  text-decoration: none;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #007dfe;
  border-radius: 5px;
  border: none;
  padding: 5px 176px;
  transition: 0.3s;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main .container .product-cont .gcash-cont .g-btn a:hover {
  opacity: 80%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main .container .product-cont .gcash-cont .g-dl {
  padding: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main .container .product-cont .gcash-cont .g-dl a {
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: none;
  padding: 5px 0;
  transition: 0.3s;
  font-size: 0.8rem;
  color: #007dfe;
}
main .container .product-cont .gcash-cont .g-dl a:hover {
  opacity: 80%;
}
main .container .product-cont .gcash-cont .g-dl p {
  font-size: 0.8rem;
  color: #a8896c;
}/*# sourceMappingURL=gcash.css.map */