/*header and button color*/
/*divider color*/
/*login container color*/
/*white color*/
/*mountain background color*/
.alert {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.575);
}
.alert .alert-cont {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert .alert-cont .alert-content {
  width: 400px;
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.alert .alert-cont .alert-content img {
  margin-top: 20px;
}
.alert .alert-cont .alert-content h1 {
  text-align: center;
  margin-top: 20px;
}
.alert .alert-cont .alert-content p {
  text-align: center;
  margin: 10px 20px 10px 10px;
}
.alert .alert-cont .alert-content .alert-btn .btn-secondary {
  background: #c1c1c1;
}
.alert .alert-cont .alert-content .alert-btn .btn-secondary:hover {
  opacity: 75%;
}
.alert .alert-cont .alert-content .alert-btn .btn-danger {
  background: #ee3535;
}
.alert .alert-cont .alert-content .alert-btn .btn-danger:hover {
  opacity: 75%;
}
.alert .alert-cont .alert-content .alert-btn .btn-green {
  background-color: #3bb54a;
}
.alert .alert-cont .alert-content .alert-btn .btn-green:hover {
  opacity: 75%;
}
.alert .alert-cont .alert-content .alert-btn input[type=button] {
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
}
.alert .alert-cont .alert-content .alert-btn button {
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: #a8896c;
  height: 75px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}
header .app-name {
  width: 50%;
}
header .app-name a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  margin: 0 0 0 70px;
}
header .app-name a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
header .app-name a h1 {
  font-size: 1.7rem;
}
header nav {
  width: 50%;
  text-align: right;
}
header nav a {
  margin: 0 70px 0 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  font-size: 0.8rem;
  transition: 0.5s;
}
header nav a:hover {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
}
header nav a span {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: -15px;
  background-color: #ee0000;
  border-radius: 50%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.divider {
  display: flex;
  align-items: center;
  height: 2vh;
  width: 100%;
  background-color: #f2e5db;
}
.divider p {
  margin: 0 0 0 70px;
  font-size: 0.5rem;
  color: #a8896c;
}

main {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container {
  width: 1120px;
  height: 90vh;
  display: flex;
  align-items: center;
}
main .container .message-pop {
  color: #a8896c;
  position: absolute;
  margin: 0 0 580px 350px;
  text-align: center;
}
main .container .post-cont {
  width: 740px;
  height: 90vh;
}
main .container .post-cont .category button {
  font-family: "Poppins", sans-serif;
  border: 2px solid #a8896c;
  background-color: #ffffff;
  width: 352px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  color: #a8896c;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
main .container .post-cont .category button:hover {
  color: #ffffff;
  background-color: #a8896c;
}
main .container .post-cont .category .active {
  color: #ffffff;
  background-color: #a8896c;
}
main .container .post-cont .form-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  width: 710px;
  height: 50px;
  background-color: #a8896c;
  color: #ffffff;
  border-radius: 10px 0 10px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
main .container .post-cont .user-post-cont {
  overflow-y: scroll;
  height: 80vh;
  width: 710px;
  margin-top: 12px;
}
main .container .post-cont .user-post-cont .user-post {
  width: 690px;
  background-color: #f2e5db;
  border-radius: 10px;
  margin-bottom: 10px;
}
main .container .post-cont .user-post-cont .user-post .pp-name-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #a8896c;
}
main .container .post-cont .user-post-cont .user-post .pp-name-date .pp-name {
  margin: 10px 0 15px 20px;
  display: flex;
  align-items: center;
}
main .container .post-cont .user-post-cont .user-post .pp-name-date .pp-name img {
  border-radius: 50%;
  border: 2px solid #a8896c;
}
main .container .post-cont .user-post-cont .user-post .pp-name-date .pp-name h2 {
  margin-left: 10px;
}
main .container .post-cont .user-post-cont .user-post .pp-name-date p {
  font-size: 0.6rem;
  margin: 10px 20px 15px 0;
}
main .container .post-cont .user-post-cont .user-post .caption-attachment {
  margin: 0 40px 15px 40px;
  font-size: 0.9rem;
}
main .container .post-cont .user-post-cont .user-post .shop-response {
  background-color: #f5ece3;
  margin: 0 40px 15px 40px;
  font-size: 0.9rem;
}
main .container .post-cont .user-post-cont .user-post .shop-response h3 {
  color: #a8896c;
}
main .container .post-cont .user-post-cont .user-post .shop-response p {
  margin-left: 20px;
}
main .container .post-cont .user-post-cont .user-post .comment-send form {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .post-cont .user-post-cont .user-post .comment-send textarea {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
}
main .container .post-cont .user-post-cont .user-post .comment-send textarea:focus {
  outline: none;
}
main .container .post-cont .user-post-cont .user-post .comment-send button {
  cursor: pointer;
  margin: 10px 0 10px 10px;
  border: none;
  background-color: #f2e5db;
}
main .container .post-cont .user-post-cont .user-post .comment-send button:hover {
  opacity: 80%;
}
main .container .shopinfo-cont {
  width: 380px;
  height: 90vh;
}
main .container .shopinfo-cont .search-bar input[type=text] {
  width: 76%;
  padding: 5px 8px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #a8896c;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
main .container .shopinfo-cont .search-bar input[type=text]:focus {
  outline: none;
  border: 1px solid #dbb07b;
}
main .container .shopinfo-cont .search-bar button {
  width: 22%;
  padding: 4px 0;
  border-radius: 5px;
  border: 1px solid #a8896c;
  color: #ffffff;
  background-color: #a8896c;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
main .container .shopinfo-cont .search-bar button:hover {
  opacity: 70%;
}
main .container .shopinfo-cont .shopinfo {
  width: 380px;
  height: 83vh;
  color: #a8896c;
  background-color: #f2e5db;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
main .container .shopinfo-cont .shopinfo .profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .shopinfo-cont .shopinfo .profile-pic img {
  margin: 10px 0;
  border-radius: 50%;
}
main .container .shopinfo-cont .shopinfo h1 {
  text-align: center;
  padding-top: 10px;
}
main .container .shopinfo-cont .shopinfo h3 {
  margin: 10px 0 0 10px;
}
main .container .shopinfo-cont .shopinfo p {
  margin-left: 30px;
  font-size: 0.8rem;
}
main .container .shopinfo-cont .shopinfo button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #a8896c;
  border: none;
  border-radius: 5px;
}
main .container .shopinfo-cont .shopinfo button:hover {
  opacity: 80%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .container .busi-info-popup, main .container .account-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.575);
}
main .container .busi-info-popup .busi-info-popup-form, main .container .busi-info-popup .account-popup-form, main .container .account-popup .busi-info-popup-form, main .container .account-popup .account-popup-form {
  height: 100vh;
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #f2e5db;
}
main .container .busi-info-popup .busi-info-popup-form .popup-header, main .container .busi-info-popup .account-popup-form .popup-header, main .container .account-popup .busi-info-popup-form .popup-header, main .container .account-popup .account-popup-form .popup-header {
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid #a8896c;
  flex-direction: column;
}
main .container .busi-info-popup .busi-info-popup-form .popup-header .exit-button, main .container .busi-info-popup .account-popup-form .popup-header .exit-button, main .container .account-popup .busi-info-popup-form .popup-header .exit-button, main .container .account-popup .account-popup-form .popup-header .exit-button {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #a8896c;
  color: #ffffff;
  width: 400px;
  justify-content: baseline;
  border: 2px solid #a8896c;
}
main .container .busi-info-popup .busi-info-popup-form .popup-header .exit-button button, main .container .busi-info-popup .account-popup-form .popup-header .exit-button button, main .container .account-popup .busi-info-popup-form .popup-header .exit-button button, main .container .account-popup .account-popup-form .popup-header .exit-button button {
  cursor: pointer;
  margin: 0 10px 0 10px;
  background-color: #a8896c;
  border: none;
  transition: 0.3s;
}
main .container .busi-info-popup .busi-info-popup-form .popup-header .exit-button h2, main .container .busi-info-popup .account-popup-form .popup-header .exit-button h2, main .container .account-popup .busi-info-popup-form .popup-header .exit-button h2, main .container .account-popup .account-popup-form .popup-header .exit-button h2 {
  font-weight: 400;
}
main .container .busi-info-popup .busi-info-popup-form .popup-header .busi-info-content, main .container .busi-info-popup .busi-info-popup-form .popup-header .account-content, main .container .busi-info-popup .account-popup-form .popup-header .busi-info-content, main .container .busi-info-popup .account-popup-form .popup-header .account-content, main .container .account-popup .busi-info-popup-form .popup-header .busi-info-content, main .container .account-popup .busi-info-popup-form .popup-header .account-content, main .container .account-popup .account-popup-form .popup-header .busi-info-content, main .container .account-popup .account-popup-form .popup-header .account-content {
  width: 400px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .container .busi-info-popup .busi-info-popup-form .popup-header .busi-info-content .change-photo, main .container .busi-info-popup .busi-info-popup-form .popup-header .account-content .change-photo, main .container .busi-info-popup .account-popup-form .popup-header .busi-info-content .change-photo, main .container .busi-info-popup .account-popup-form .popup-header .account-content .change-photo, main .container .account-popup .busi-info-popup-form .popup-header .busi-info-content .change-photo, main .container .account-popup .busi-info-popup-form .popup-header .account-content .change-photo, main .container .account-popup .account-popup-form .popup-header .busi-info-content .change-photo, main .container .account-popup .account-popup-form .popup-header .account-content .change-photo {
  padding: 5px 10px;
  background-color: #a8896c;
  border: none;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
main .container .busi-info-popup .busi-info-popup-form .popup-header .busi-info-content .change-photo:hover, main .container .busi-info-popup .busi-info-popup-form .popup-header .account-content .change-photo:hover, main .container .busi-info-popup .account-popup-form .popup-header .busi-info-content .change-photo:hover, main .container .busi-info-popup .account-popup-form .popup-header .account-content .change-photo:hover, main .container .account-popup .busi-info-popup-form .popup-header .busi-info-content .change-photo:hover, main .container .account-popup .busi-info-popup-form .popup-header .account-content .change-photo:hover, main .container .account-popup .account-popup-form .popup-header .busi-info-content .change-photo:hover, main .container .account-popup .account-popup-form .popup-header .account-content .change-photo:hover {
  opacity: 80%;
}
main .container .busi-info-popup .busi-info-popup-form .popup-header .busi-info-content img, main .container .busi-info-popup .busi-info-popup-form .popup-header .account-content img, main .container .busi-info-popup .account-popup-form .popup-header .busi-info-content img, main .container .busi-info-popup .account-popup-form .popup-header .account-content img, main .container .account-popup .busi-info-popup-form .popup-header .busi-info-content img, main .container .account-popup .busi-info-popup-form .popup-header .account-content img, main .container .account-popup .account-popup-form .popup-header .busi-info-content img, main .container .account-popup .account-popup-form .popup-header .account-content img {
  border-radius: 50%;
}
main .container .busi-info-popup .busi-info-popup-form .popup-header .busi-info-content div, main .container .busi-info-popup .busi-info-popup-form .popup-header .account-content div, main .container .busi-info-popup .account-popup-form .popup-header .busi-info-content div, main .container .busi-info-popup .account-popup-form .popup-header .account-content div, main .container .account-popup .busi-info-popup-form .popup-header .busi-info-content div, main .container .account-popup .busi-info-popup-form .popup-header .account-content div, main .container .account-popup .account-popup-form .popup-header .busi-info-content div, main .container .account-popup .account-popup-form .popup-header .account-content div {
  display: flex;
  flex-direction: column;
  margin-left: -100px;
  margin-bottom: 10px;
  color: #a8896c;
}
main .container .busi-info-popup .busi-info-popup-form .popup-header .busi-info-content div input, main .container .busi-info-popup .busi-info-popup-form .popup-header .account-content div input, main .container .busi-info-popup .account-popup-form .popup-header .busi-info-content div input, main .container .busi-info-popup .account-popup-form .popup-header .account-content div input, main .container .account-popup .busi-info-popup-form .popup-header .busi-info-content div input, main .container .account-popup .busi-info-popup-form .popup-header .account-content div input, main .container .account-popup .account-popup-form .popup-header .busi-info-content div input, main .container .account-popup .account-popup-form .popup-header .account-content div input {
  padding: 5px 8px;
  width: 155%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}
main .container .busi-info-popup .busi-info-popup-form .popup-header .busi-info-content div input:focus, main .container .busi-info-popup .busi-info-popup-form .popup-header .account-content div input:focus, main .container .busi-info-popup .account-popup-form .popup-header .busi-info-content div input:focus, main .container .busi-info-popup .account-popup-form .popup-header .account-content div input:focus, main .container .account-popup .busi-info-popup-form .popup-header .busi-info-content div input:focus, main .container .account-popup .busi-info-popup-form .popup-header .account-content div input:focus, main .container .account-popup .account-popup-form .popup-header .busi-info-content div input:focus, main .container .account-popup .account-popup-form .popup-header .account-content div input:focus {
  outline: none;
}
main .container .busi-info-popup .busi-info-popup-form .popup-header .busi-info-content div .submit, main .container .busi-info-popup .busi-info-popup-form .popup-header .account-content div .submit, main .container .busi-info-popup .account-popup-form .popup-header .busi-info-content div .submit, main .container .busi-info-popup .account-popup-form .popup-header .account-content div .submit, main .container .account-popup .busi-info-popup-form .popup-header .busi-info-content div .submit, main .container .account-popup .busi-info-popup-form .popup-header .account-content div .submit, main .container .account-popup .account-popup-form .popup-header .busi-info-content div .submit, main .container .account-popup .account-popup-form .popup-header .account-content div .submit {
  background-color: #a8896c;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}
main .container .busi-info-popup .busi-info-popup-form .popup-header .busi-info-content div .submit:hover, main .container .busi-info-popup .busi-info-popup-form .popup-header .account-content div .submit:hover, main .container .busi-info-popup .account-popup-form .popup-header .busi-info-content div .submit:hover, main .container .busi-info-popup .account-popup-form .popup-header .account-content div .submit:hover, main .container .account-popup .busi-info-popup-form .popup-header .busi-info-content div .submit:hover, main .container .account-popup .busi-info-popup-form .popup-header .account-content div .submit:hover, main .container .account-popup .account-popup-form .popup-header .busi-info-content div .submit:hover, main .container .account-popup .account-popup-form .popup-header .account-content div .submit:hover {
  opacity: 80%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
main .container .update-cont {
  width: 500px;
  height: 550px;
  background-color: #f2e5db;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}
main .container .update-cont .back-btn {
  width: 500px;
  height: 50px;
  background-color: #a8896c;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
}
main .container .update-cont .back-btn .bck {
  background-color: #a8896c;
  border: none;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
main .container .update-cont .back-btn .bck:hover {
  opacity: 80%;
}
main .container .update-cont .back-btn h4 {
  color: #ffffff;
  font-weight: 600;
}
main .container .update-cont .back-btn .upd-del-btn {
  margin-left: 120px;
}
main .container .update-cont .back-btn .upd-del-btn .upd, main .container .update-cont .back-btn .upd-del-btn .del {
  background-color: #f2e5db;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  width: 80px;
  border: none;
  border-radius: 5px;
  color: #a8896c;
  transition: 0.3s;
  cursor: pointer;
}
main .container .update-cont .back-btn .upd-del-btn .upd:hover, main .container .update-cont .back-btn .upd-del-btn .del:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .container .update-cont .content-cont {
  width: 500px;
  height: 550px;
}
main .container .update-cont .content-cont .input {
  display: flex;
  flex-direction: column;
  margin: 10px 50px;
}
main .container .update-cont .content-cont .input label {
  color: #a8896c;
}
main .container .update-cont .content-cont .input input[type=text], main .container .update-cont .content-cont .input input[type=file], main .container .update-cont .content-cont .input input[type=password] {
  padding: 5px 5px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  border: 1px solid #a8896c;
  border-radius: 5px;
  outline: none;
}
main .container .update-cont .content-cont .input textarea {
  padding: 5px 5px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  border: 1px solid #a8896c;
  border-radius: 5px;
  outline: none;
  resize: none;
}
main .container .update-cont .content-cont .input select {
  padding: 5px 5px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  border: 1px solid #a8896c;
  border-radius: 5px;
  outline: none;
}
main .container .update-cont .content-cont .input input[type=submit] {
  padding: 5px 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #a8896c;
  border-radius: 5px;
  border: none;
}
main .container .update-cont .content-cont .input input[type=submit]:hover {
  opacity: 80%;
}/*# sourceMappingURL=adminProfile.css.map */