@use '../../style/header/header';
@use '../../style/globals' as *;

main {
    width: 100%;
    height: 86vh;
    @include flexBox();
    justify-content: center;

    .container {
        width: 1120px;
        height: 86vh;
        @include flexBox();

        .message-pop {
            color: $header-color;
            position: absolute;
            margin: 0 0 580px 350px;
            text-align: center;
        }

        .post-cont {
            width: 740px;
            height: 86vh;

            .category {

                button {
                    font-family: $font-family;
                    border: 2px solid $header-color;
                    background-color: $white-color;
                    width: 352px;
                    border-radius: 5px;
                    margin-top: 10px;
                    cursor: pointer;
                    color: $header-color;
                    transition: 0.3s;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

                    &:hover {
                        color: $white-color;
                        background-color: $header-color;
                    }
                }

                .active {
                    color: $white-color;
                    background-color: $header-color;
                }
            }

            .form-cont {
                @include flexBox();
                justify-content: center;
                flex-direction: column;
                margin-top: 10px;
                width: 710px;
                height: 50px;
                background-color: $header-color;
                color: $white-color;
                border-radius: 10px 0 10px 0;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

            }

            .user-post-cont {
                overflow-y: scroll;
                height: 70vh;
                width: 710px;
                margin-top: 12px;
                @include scroll();

                .user-post {
                    width: 686px;
                    background-color: $divider-color;
                    border-radius: 10px;
                    margin-bottom: 10px;

                    .pp-name-date {
                        @include flexBox();
                        justify-content: space-between;
                        color: $header-color;

                        .pp-name {
                            margin: 10px 0 15px 20px;
                            @include flexBox();

                            img {
                                border-radius: 50%;
                                border: 2px solid $header-color;
                            }

                            h2 {
                                margin-left: 10px;
                            }
                        }

                        p {
                            font-size: .6rem;
                            margin: 10px 20px 15px 0;
                        }
                    }

                    .caption-attachment {
                        margin: 0 40px 15px 40px;
                        font-size: .9rem;
                    }

                    .shop-response {
                        background-color: $loginbg-color;
                        margin: 0 40px 15px 40px;
                        font-size: .9rem;
                        

                        h3 {
                            color: $header-color;
                        }

                        p {
                            margin-left: 20px;
                        }
                    }

                    .comment-send {
                        form {
                            @include flexBox();
                            justify-content: center;
                        }

                        textarea {
                            margin-bottom: 10px;
                            font-family: $font-family;
                            margin-top: 10px;
                            resize: none;
                            border-radius: 5px;
                            padding: 5px;

                            &:focus {
                                outline: none;
                            }
                        }

                        button {
                            cursor: pointer;
                            margin: 10px 0 10px 10px;
                            border: none;
                            background-color: $divider-color;
                            transition: 0.3s;
    
                            &:hover {
                                opacity: 80%;
                            }
                        }
                    }
                }

            }
        }

        .shopinfo-cont {
            width: 380px;
            height: 86vh;

            .search-bar {
                input[type=text] {
                    width: 76%;
                    padding: 5px 8px;
                    margin: 10px 0;
                    display: inline-block;
                    border: 1px solid $header-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                    
                    &:focus {
                        outline: none;
                        border: 1px solid $mt-color;
                    }
                }

                button {
                    width: 22%;
                    padding: 4px 0;
                    border-radius: 5px;
                    border: 1px solid $header-color;
                    color: $white-color;
                    background-color: $header-color;
                    cursor: pointer;
                    transition: 0.3s;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

                    &:hover {
                        opacity: 70%;
                    }
                }
            }

            .shopinfo {
                width: 380px;
                height: 83vh;
                margin-top: 10px;
                color: $header-color;
                overflow-y: scroll;
                @include scroll();
                background-color: $divider-color;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

                .profile-pic {
                    @include flexBox();
                    justify-content: center;

                    img {
                        margin: 10px 0;
                        border-radius: 50%;
                    }
                }
                
                h1 {
                    text-align: center;
                    padding-top: 10px;
                }

                h3 {
                    margin: 10px 0 0 10px;
                    font-size: .9rem;
                }

                p {
                    margin-left: 30px;
                    font-size: .8rem;
                }

                .info-line {
                    border-bottom: 1px solid $white-color;
                    margin-top: 20px;
                }

                button {
                    font-family: $font-family;
                    cursor: pointer;
                    width: 100%;
                    height: 30px;
                    margin-top: 10px;
                    color: $white-color;
                    background-color: $header-color;
                    border: none;
                    border-radius: 5px;
                    transition: 0.3s;

                    &:hover {
                        opacity: 80%;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }
                }

                .margin-a {
                    margin-top: 10px;
                }

                a {
                    font-family: $font-family;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: .8rem;
                    padding: 5px 121.8px;
                    color: $white-color;
                    background-color: $header-color;
                    border: none;
                    border-radius: 5px;
                    transition: 0.3s;

                    &:hover {
                        opacity: 80%;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }
                }

                .a-list {
                    padding: 5px 149px;
                }
            }
        }

        .busi-info-popup, .account-popup {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 99999;
            background-color: rgba(0, 0, 0, 0.575);

            .busi-info-popup-form, .account-popup-form {
                height: 100vh;
                width: 400px;
                margin: auto;
                display: flex;
                justify-content: center;
                background-color: $divider-color;

                .popup-header {
                    display: flex;
                    align-items:flex-start;
                    border-bottom: 2px solid $header-color;
                    flex-direction: column;
                    
                    .exit-button {
                        @include flexBox();
                        height: 50px;
                        background-color: $header-color;
                        color: $white-color;
                        width: 400px;
                        justify-content: baseline;
                        border: 2px solid $header-color;

                        button {
                            cursor: pointer;
                            margin: 0 10px 0 10px;
                            background-color: $header-color;
                            border: none;
                            transition: 0.3s;
                        }

                        h2 {
                            font-weight: 400;
                        }
                    }

                    .busi-info-content, .account-content {
                        width: 400px;
                        height: 600px;
                        @include flexBox();
                        justify-content: center;
                        flex-direction: column;

                        .change-photo {
                            padding: 5px 10px;
                            background-color: $header-color;
                            border: none;
                            color: $white-color;
                            transition: 0.3s;
                            cursor: pointer;
                            border-radius: 5px;
                            font-family: $font-family;

                            &:hover {
                                opacity: 80%;
                            }
                        }

                        img {
                            border-radius: 50%;
                        }

                        div {
                            display: flex;
                            flex-direction: column;
                            margin-left: -100px;
                            margin-bottom: 10px;
                            color: $header-color;
                            

                            input {
                                padding: 5px 8px;
                                width: 155%;
                                display: inline-block;
                                border: 1px solid #ccc;
                                box-sizing: border-box;
                                background-color: $white-color;
                                font-family: $font-family;

                                &:focus {
                                    outline: none;
                                }
                            }

                            .submit {
                                background-color: $header-color;
                                color: $white-color;
                                cursor: pointer;
                                transition: 0.3s;

                                &:hover {
                                    opacity: 80%;
                                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                                }
                            }
                        }
                    }
                }
            }

        }

        .update-cont {
            width: 500px;
            height: 550px;
            background-color: $divider-color;
            margin: auto;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 10px;

            .back-btn {
                width: 500px;
                height: 50px;
                background-color: $header-color;
                border-radius: 10px 10px 0 0;
                @include flexBox();

                .bck {
                    background-color: $header-color;
                    border: none;
                    margin: 0 10px 0 10px;
                    cursor: pointer;

                    &:hover {
                        opacity: 80%;
                    }
                }

                h4 {
                    color: $white-color;
                    font-weight: 600;
                }

                .upd-del-btn {
                    margin-left: 120px;

                    .upd, .del {
                        background-color: $divider-color;
                        font-family: $font-family;
                        font-size: .9rem;
                        width: 80px;
                        border: none;
                        border-radius: 5px;
                        color: $header-color;
                        transition: 0.3s;
                        cursor: pointer;

                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        }
                    }
                }
            }

            .content-cont {
                width: 500px;
                height: 550px;

                .input {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 50px;

                    label {
                        color: $header-color;
                    }

                    input[type=text], input[type=file], input[type=password] {
                        padding: 5px 5px;
                        font-family: $font-family;
                        margin-bottom: 10px;
                        border: 1px solid $header-color;
                        border-radius: 5px;
                        outline: none;
                    }

                    textarea {
                        padding: 5px 5px;
                        font-family: $font-family;
                        margin-bottom: 10px;
                        border: 1px solid $header-color;
                        border-radius: 5px;
                        outline: none;
                        resize: none;
                    }

                    select {
                        padding: 5px 5px;
                        font-family: $font-family;
                        margin-bottom: 10px;
                        border: 1px solid $header-color;
                        border-radius: 5px;
                        outline: none;
                    }

                    input[type=submit] {
                        padding: 5px 5px;
                        cursor: pointer;
                        font-family: $font-family;
                        color: $white-color;
                        background-color: $header-color;
                        border-radius: 5px;
                        border: none;

                        &:hover {
                            opacity: 80%;
                        }
                    }
                }
            }
        }
    }
}