/*header and button color*/
/*divider color*/
/*login container color*/
/*white color*/
/*mountain background color*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: #a8896c;
  height: 8vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}
header .app-name {
  width: 50%;
}
header .app-name a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  margin: 0 0 0 70px;
}
header .app-name a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
header .app-name a h1 {
  font-size: 1.7rem;
}
header nav {
  width: 50%;
  text-align: right;
}
header nav a {
  margin: 0 70px 0 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  font-size: 0.8rem;
}
header nav a:hover {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
}

.divider {
  display: flex;
  align-items: center;
  height: 2vh;
  width: 100%;
  background-color: #f2e5db;
}
.divider p {
  margin: 0 0 0 70px;
  font-size: 0.5rem;
  color: #a8896c;
}

header nav {
  display: none;
}

main {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container {
  width: 1120px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .product-cont {
  width: 430px;
  height: 90vh;
}
main .container .product-cont .prod-back {
  margin-top: 10px;
  width: 420px;
  height: 40px;
  background-color: #a8896c;
  display: flex;
  align-items: center;
  justify-content: baseline;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main .container .product-cont .prod-back a {
  margin: 5px 20px 0 20px;
}
main .container .product-cont .product {
  height: 70vh;
  width: 420px;
  margin-top: 12px;
  background-color: #f2e5db;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main .container .product-cont .product #buyer-info {
  width: 400px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff;
}
main .container .product-cont .product #buyer-info h3 {
  margin-left: 10px;
  color: #a8896c;
  font-weight: 600;
}
main .container .product-cont .product #buyer-info .buyer-info-inputs {
  margin-left: 10px;
  margin-top: 3px;
}
main .container .product-cont .product #buyer-info .buyer-info-inputs input[type=text], main .container .product-cont .product #buyer-info .buyer-info-inputs select {
  padding: 3px;
  font-family: "Poppins", sans-serif;
  outline: none;
  color: #a8896c;
}
main .container .product-cont .product #buyer-info .buyer-info-inputs .fullname {
  font-weight: 600;
  background-color: #f2e5db;
  outline: none;
  border: none;
  font-size: 0.9rem;
  color: #a8896c;
}
main .container .product-cont .product #buyer-info .buyer-info-inputs .big {
  width: 65%;
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  background: none;
  border-radius: 0;
  border-bottom: 2px solid #f5ece3;
}
main .container .product-cont .product #buyer-info .buyer-info-inputs .big:focus {
  outline: none;
  border-bottom: 2px solid #a8896c;
}
main .container .product-cont .product #buyer-info .buyer-info-inputs .sm {
  width: 30%;
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  background: none;
  border-radius: 0;
  border-bottom: 2px solid #f5ece3;
}
main .container .product-cont .product #buyer-info .buyer-info-inputs .sm:focus {
  outline: none;
  border-bottom: 2px solid #a8896c;
}
main .container .product-cont .product #buyer-info .buyer-info-inputs .select {
  width: 30%;
}
main .container .product-cont .product #selected-product {
  width: 400px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff;
  background-color: #f5ece3;
}
main .container .product-cont .product #selected-product h3 {
  margin-left: 10px;
  color: #a8896c;
  font-weight: 600;
  font-size: 0.9rem;
}
main .container .product-cont .product #selected-product .spe-product {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main .container .product-cont .product #selected-product .spe-product:hover {
  opacity: 80%;
  background-color: rgba(128, 128, 128, 0.185);
}
main .container .product-cont .product #selected-product .spe-product .img-name {
  display: flex;
  align-items: center;
}
main .container .product-cont .product #selected-product .spe-product .img-name .image {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
main .container .product-cont .product #selected-product .spe-product .img-name .name-product {
  color: #a8896c;
  margin-left: 10px;
}
main .container .product-cont .product #selected-product .spe-product .img-name .name-product p {
  font-size: 0.8rem;
}
main .container .product-cont .product #selected-product .spe-product .quantity {
  display: flex;
  align-items: center;
}
main .container .product-cont .product #selected-product .spe-product .quantity input[type=number] {
  width: 50px;
  padding: 0 0 0 10px;
  font-family: "Poppins", sans-serif;
  margin-right: 5px;
}
main .container .product-cont .product #selected-product .spe-product .quantity input[type=number]:focus {
  outline: none;
  border-bottom: 2px solid #a8896c;
}
main .container .product-cont .product #selected-product .spe-product .quantity p {
  font-size: 0.8rem;
}
main .container .product-cont .product #payment {
  width: 400px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  color: #a8896c;
}
main .container .product-cont .product #payment label {
  margin-left: 10px;
  font-weight: 600;
}
main .container .product-cont .product #payment select {
  margin-right: 10px;
  color: #a8896c;
  width: 40%;
  font-family: "Poppins", sans-serif;
  padding: 3px;
}
main .container .product-cont .product #payment select:focus {
  outline: none;
}
main .container .product-cont .checkout {
  margin-top: 5px;
  width: 420px;
  height: 50px;
  background-color: #a8896c;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main .container .product-cont .checkout button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #f5ece3;
  color: #a8896c;
  border: none;
  font-weight: 600;
}
main .container .product-cont .checkout button:hover {
  opacity: 80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}/*# sourceMappingURL=userOrder.css.map */